{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
        {% if p.children.visible.count > 0 %}
            <h4 class="has-children {{ current_page }}">{{ p.menu }}</h4>
            <ul class="nav nav-list">
                {{ _self.loop(p) }}
            </ul>
        {% else %}
            <li class="{{ current_page }}"><a href="{{p.url}}">{{ p.menu }}</a></li>
        {% endif %}
    {% endfor %}
{% endmacro %}


    {% if theme_config.dropdown.enabled %}

        {{ _self.loop(pages) }}

    {% else %}
        {% for page in pages.children.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
            <li class="{{ current_page }}">
                <a href="{{ page.url }}">
                    {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                    {{ page.menu }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
